.input {
  position: relative;
  width: fit-content; }
  .input__label {
    margin: 0 .5em;
    display: inline-block;
    vertical-align: middle; }
  .input__box {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: .3em .5em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif; }
    .input__box:focus {
      outline: 0 none; }
