@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    background:#f5f5f5;
    // background: rgba(42,151,236,0.4);
}

.register {
    margin:0;
    
    &__blog {
        width:70%;
        margin:5% auto;
        background:#fff;
        padding:5%;
    }
    &__inline {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    &__require {
        color: #ed0000;
    }
    &__rows {
        margin:2em auto;
    }
    &__date {
        padding:.2em .3em!important;
    }
}

.register-btns {
    // box-shadow: #000;
    padding:.5em 0;
    display: block;
    text-align: center;
    // border:1px solid rgba(42,151,236,0.4);;
    cursor: pointer;
    width:100%;
    max-width: 150px;
    background:#fff;
    font-size:1.2em;
    margin:2em auto 1em;
    transition:all .5s ease-in-out;
    &:hover , &:focus {
        outline: 0 none;
        background:rgba(42,151,236,0.4);;
        color:#fff;
    }
}

.register-table {
    border-spacing: 0px;
    border:1px solid #000;
    width:100%;
    thead{
        tr {
            background-color:#abd9fd;
            td{
                // border:1px solid #000;
                border-right:0px;
                padding:.5em;
                &:last-child {
                    // border:1px solid #000;
                }
            }
            
        }
    }
    
    tbody {
        tr {
            border-bottom:1px solid #000;
            td {
                padding:.5em;
                &:last-child {
                    // border:1px solid #000;
                }
            }
        }
    }
}

.btns {
    &__inline {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin:0 .5em;
        &:hover , &:focus {
            text-decoration: underline;
        }
    }
}

.react-date-picker {
    &__wrapper {
        border:0px!important;
    }
}