@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: #f5f5f5; }

.register {
  margin: 0; }
  .register__blog {
    width: 70%;
    margin: 5% auto;
    background: #fff;
    padding: 5%; }
  .register__inline {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .register__require {
    color: #ed0000; }
  .register__rows {
    margin: 2em auto; }
  .register__date {
    padding: 0.2em 0.3em !important; }

.register-btns {
  padding: .5em 0;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  background: #fff;
  font-size: 1.2em;
  margin: 2em auto 1em;
  transition: all .5s ease-in-out; }
  .register-btns:hover, .register-btns:focus {
    outline: 0 none;
    background: rgba(42, 151, 236, 0.4);
    color: #fff; }

.register-table {
  border-spacing: 0px;
  border: 1px solid #000;
  width: 100%; }
  .register-table thead tr {
    background-color: #abd9fd; }
    .register-table thead tr td {
      border-right: 0px;
      padding: .5em; }
  .register-table tbody tr {
    border-bottom: 1px solid #000; }
    .register-table tbody tr td {
      padding: .5em; }

.btns__inline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 .5em; }
  .btns__inline:hover, .btns__inline:focus {
    text-decoration: underline; }

.react-date-picker__wrapper {
  border: 0px !important; }
