.select {
    // margin:1em 1em;
    position: relative;
    &__list {
        border:1px solid #ccc;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
        // background: #fff;
        border-radius: 0px!important;
        font-size:1em;
        word-wrap: break-word;
        box-shadow: 0 2px 4px 0 rgba(226, 96, 96, 0.1);
        padding: .3em 5em .3em .5em;
        background: url("../../static/images/icon_dropdown.png")right no-repeat #fff;
        &:focus {
            outline: 0 none;
        }
        &::-ms-expand { 
            display: none; /* hide the default arrow in ie10 and ie11 */
        }
    }
}